.fb {
    background-color: yellow;
    color: blue;
    border-color: blue;
    border-style: solid;
    

    }


.gs {
    background-color: red;
    color: yellow;
    border-color: red;
    border-style: solid;


    }
    
    
.bjk {
    background-color: black;
    color: white;
    border-color: black;
    border-style: solid;


    }    